{% extends 'base.html' %}

{% block content %}

    <h1 class="title">{{ category.title }} - Posts</h1>
    
    {% for post in category.posts.all %}
        <hr>
        <article>
            <h4 class="subtitle"><strong>{{ post.title }} </strong></h4>
            <time>{{ post.date_added|date:"M Y" }}</time> - <span>{{ post.category.title }} </span>
            <p>{{ post.intro }} </p>

            <a href="{% url 'detail' post.slug %}">Read more.</a
        </article>
    {% endfor %}
{% endblock content %}